<div class='panel panel-default'>
                      <div class='panel-heading'>
                          <h4 class='panel-title'>
                              <a data-toggle='collapse' data-parent='#take_order_dock_id' href='#collapse_1_268'>Quận Hà Đông (Thành phố Hà Nội) (181)</a>
                          </h4>
                      </div>
                      <div id='collapse_1_268' class='panel-collapse collapse in'>
                          <ul class='list-group'><li class='list-group-item commune_cls' id='_id_dock_asign*9538'>Phường Nguyễn Trãi (0)</li><li class='list-group-item commune_cls' id='_id_dock_asign*9541'>Phường Mộ Lao (0)</li><li class='list-group-item commune_cls' id='_id_dock_asign*9542'>Phường Văn Quán (0)</li><li class='list-group-item commune_cls' id='_id_dock_asign*9544'>Phường Vạn Phúc (176)</li><li class='list-group-item commune_cls' id='_id_dock_asign*9547'>Phường Yết Kiêu (0)</li><li class='list-group-item commune_cls' id='_id_dock_asign*9550'>Phường Quang Trung (0)</li><li class='list-group-item commune_cls' id='_id_dock_asign*9551'>Phường La Khê (0)</li><li class='list-group-item commune_cls' id='_id_dock_asign*9552'>Phường Phú La (0)</li><li class='list-group-item commune_cls' id='_id_dock_asign*9553'>Phường Phúc La (0)</li><li class='list-group-item commune_cls' id='_id_dock_asign*9556'>Phường Hà Cầu (0)</li><li class='list-group-item commune_cls' id='_id_dock_asign*9562'>Phường Yên Nghĩa (1)</li><li class='list-group-item commune_cls' id='_id_dock_asign*9565'>Phường Kiến Hưng (0)</li><li class='list-group-item commune_cls' id='_id_dock_asign*9568'>Phường Phú Lãm (0)</li><li class='list-group-item commune_cls' id='_id_dock_asign*9571'>Phường Phú Lương (0)</li><li class='list-group-item commune_cls' id='_id_dock_asign*9886'>Phường Dương Nội (4)</li><li class='list-group-item commune_cls' id='_id_dock_asign*10117'>Phường Đồng Mai (0)</li><li class='list-group-item commune_cls' id='_id_dock_asign*10123'>Phường Biên Giang (0)</li>
                          </ul>
                      </div>
                  </div>